div.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
    background-color: rgb(171, 170, 243);
  }

  .mainsvg {
    display: inline-block;
    position: relative;
    // width: 50%;
    // height: 50%;
    vertical-align: top;
    background-color: rgb(204, 228, 228);
  }

  .focus{
    // display: inline-block;
    // position: relative;
    // // width: 50%;
    // // height: 50%;
    // vertical-align: top;
    background-color: rgb(43, 228, 228);
  }
  
  .line {
  fill: none;
  stroke: blue;
  stroke-width: 1.5;
}


#listrect {
  fill:blue;
  opacity: 0.2;
}

rect {
  opacity: 0.8;
}

rect.green {
  fill: green;
}

rect.red {
  fill: red;
}


// label {
//   position: relative;
//   display: inline-block;
//   width: 60px;
//   height: 30px;
// }

// input {
//   opacity: 0;
//   width: 0;
//   height: 0;
// }
// span {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: #2c3e50;
//   transition: 0.3s;
//   border-radius: 30px;
// }

// strong {
//   position: absolute;
//   left: 100%;
//   width: max-content;
//   height: 100%;
//   line-height: 30px;
//   margin-left: 10px;
//   cursor: pointer;
// }

// span:before {
//   position: absolute;
//   content: "";
//   height: 25px;
//   width: 25px;
//   left: 3px;
//   bottom: 2.6px;
//   background-color: #fff;
//   border-radius: 50%;
//   transition: 0.3s;
// }

// input:checked + span {
//   background-color: #00c853;
// }

// input:checked + span:before {
//   transform: translateX(29px);
// }




.round-1 {
  background-color: #48abe0;
  color: white;
  border: none;
  // padding: 5px;
  // font-size: 31px;
  // height: 130px;
  // width: 130px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 5%;
}