.I_line {
  fill: none;
  stroke: rgb(1, 1, 15);
  stroke-width: 1.5;
}

.over_delete {
  stroke: green;
}

.focusLine {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: .5;
  stroke-dasharray: 4 1
}

.vline {
  fill: none;
  stroke: rgb(44, 12, 226);
  stroke-width: 1.5px;
}

.cdline {
  fill: none;
  stroke: rgb(1, 1, 15);
  stroke-width: 1.5;
}