.div-2 {
  background-color: rgb(255, 255, 255); 
  // height: 100px;
  // width: 400px;
  font-size: 15px; 
  color: rgb(0, 0, 0);
   
}
 
 #datetool {
  // border: 1px solid silver;
   color:rgb(15, 15, 15);
   margin-right: 10px;
 }

 #opentool {
  // border: 1px solid silver;
   color:rgb(26, 111, 238);
   margin-right: 10px;
 }

 #hightool {
  // border: 1px solid silver;
   color:rgb(0, 122, 55);
   margin-right: 10px;
 }

 #lowtool {
  // border: 1px solid silver;
   color:red;
   margin-right: 10px;
 }
 #closetool {
  // border: 1px solid silver;
   color:rgb(25, 56, 233);
   margin-right: 10px;
 }
